body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace; /*temp font*/
    background-color: #81ced1;
}

/*navbar*/
.navbar-container {
    margin-bottom: 0;
    padding: 20px;
    /*border-bottom: 2px solid #d8141d;*/
}

.navbar-wrapper {
    display: flex;
}

.navbar-left {
    padding-left: 20px;
    font-size: 30px;
    font-weight: 800;
    color: #d8141d;
}

.navbar-right {
    margin-left: auto;
    font-size: 30px;
}

.navbar-right a {
    padding-right: 20px;
    font-weight: 700;
    text-decoration: none;
    color: #d8141d;
}

.navbar-right a:hover {
    color: white;
}

/*content*/
.main-content-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

/*left-side*/
.left-column {
    width: 300px;
    height: 100vh;
    /*border-right: 2px solid grey;*/
}

.skills-learnt {
    display: flex;
    justify-content: center;
}

.skills-learnt h2  {
    color: #d8141d;
    text-transform: uppercase;
    font-size: 20px;
    border-bottom: 1px solid grey;
}

/*center-content*/
.body-content {
    width: 100%;
    height: 100%;
}

.blog-header {
    display: flex;
    justify-content: center;
    width: 100%;
}

.blog-header h1 {
    color: #d8141d;
    border-bottom: 2px solid #d8141d;
}

.profile-pic {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.profile-pic img {
    width: 400px;
    height:500px;
}

/*blog-posts*/
.blog-post-wrapper {
    width: 500px;
    height: 200px;
    margin: auto;
    margin-top: 30px;
    perspective: 1000px;
}

.blog-post-inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.blog-post-inner.is-flipped {
    transform: rotateY(180deg);
}

.blog-post {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 12px;
}

.blog-post-front {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-post-front h3 {
    color: white;
    font-size: 32px;;
}

.blog-post-back {
    background-color: white;
    transform: rotateY(180deg);
}

.blog-post-container {
    width: 100%;
    height: 100%;
}

.blog-posts {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 50px;
    color: #d8141d;
}

/*right-side*/
.right-column {
    margin-left: auto;
    width: 300px;
    height: 100vh;
    /*border-left: 3px solid grey;*/
}

.skills-learning {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    width: 100%;
    color: #d8141d;
}

.skills-learning h2{
    text-transform: uppercase;
    font-size: 20px;
    border-bottom: 1px solid #d8141d;
}

.skills-list {
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.skills-list a {
    text-decoration: none;
    color: #d8141d;
}

.skills-list h3 {
    margin-top: 10px;
}

.skills-list h3:hover {
    color: white;
}
